<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm">
    <div class="container-fluid px-3 px-lg-4">
        <a class="navbar-brand" href="/">
            <img src="/svg/triplens.svg" alt="triplens" height="40" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listing">All Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listing/new">Add New Listing</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <% if (typeof currUser === 'undefined' || !currUser) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">SignUp<i class="fa-solid fa-user-plus"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login<i class="fa-solid fa-key"></i></a>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout<i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

